
/*---GENERAL---*/
body{
    background-color: #000000;
    color: #FFFFFF;
}

a {
    color:#FFFFFF;
}

/*---NAVIGATION---*/
ul{
    background-color: #F600FA;
}

li{
    color: #FFFFFF;
}

li a:hover{
    color:#000000;
}


/*---END OF CODE---*/ 
